.logo {
  width: 200px;
  height: 98px;
  display: inline-block;
  background: url("../../img/mistore_logo.png") no-repeat;
}
.loginTab {
  font-size: 24px;
}
.register {
  color: #fe8c00;
  text-decoration: none;
}
.forgetAccount{
  color: #fe8c00;
  text-decoration: none;
}
